*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.btn {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.copy {
    margin-top: 20px;
    font-size: 12px;
}
