<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->
    <link rel="shortcut icon" href="../static/logo.png" type="image/x-icon">
    <title>Cadastro</title>

</head>

<body>
    <div class="container">
        <h1 class="title">$jurados - Cadastro</h1>
        <input id="name" class="input" type="text" placeholder="Nome" />
        <input id="email" class="input" type="email" placeholder="E-mail" />
        <input id="number" class="input" type="text" placeholder="Número de Celular" />
        <input id="password" class="input" type="password" placeholder="Senha" />
        <input id="password2" class="input" type="password" placeholder="Repita a Senha" />
        <button id="registerBtn" class="btn">Cadastrar</button>
        <p class="copy">© 2024 BatalhaDoS. Todos os direitos reservados.</p>
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.13.2/firebase-app.js";
        import { getAuth, createUserWithEmailAndPassword, sendEmailVerification } from 'https://www.gstatic.com/firebasejs/10.13.2/firebase-auth.js';
        import { getDatabase, ref, set, get, child } from "https://www.gstatic.com/firebasejs/10.13.2/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyD7NdmsHN_DoQbYG73eSmKZ1z30TzmD8q8",
            authDomain: "sjurados-7419f.firebaseapp.com",
            projectId: "sjurados-7419f",
            storageBucket: "sjurados-7419f.appspot.com",
            messagingSenderId: "10558815651",
            appId: "1:10558815651:web:26ac9f7df3ecc3957eae16",
            measurementId: "G-FWL86VHD3S",
            databaseURL: "https://sjurados-7419f-default-rtdb.firebaseio.com"
        };

        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);
        const db = getDatabase(app);

        const handleSaveData = async () => {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const password2 = document.getElementById('password2').value;
            const name = document.getElementById('name').value;
            const number = document.getElementById('number').value;

            // Obter identificador único do dispositivo
            const deviceId = navigator.userAgent;

            if (password !== password2) {
                alert("As senhas não coincidem!");
            } else if (email === "" || name === "" || number === "" || password === "") {
                alert("Por favor, preencha todos os campos para se registrar!");
            } else {
                try {
                    // Verificar se o dispositivo já está cadastrado
                    const snapshot = await get(child(ref(db), "cadastroS/"));
                    let deviceRegistered = false;

                    snapshot.forEach(childSnapshot => {
                        const userData = childSnapshot.val();
                        if (userData.deviceId === deviceId) {
                            deviceRegistered = true;
                        }
                    });

                    if (deviceRegistered) {
                        alert("Você não pode se registrar sem pagar, caso já tenha pago, mande seu comprovante de pagamento e seu email para o email: batalhadoss94@gmail.com");
                        return;
                    }

                    // Autenticação do usuário
                    const userCredential = await createUserWithEmailAndPassword(auth, email, password);
                    const user = userCredential.user;

                    const currentDate = new Date().toLocaleString();
                    await set(ref(db, "cadastroS/" + user.uid), {
                        nome: name,
                        email: email,
                        celular: number,
                        senha: password, // Nota: É melhor não armazenar senhas em texto claro
                        dataCadastro: currentDate,
                        deviceId: deviceId // Armazena o identificador do dispositivo
                    });

                    await sendEmailVerification(user);
                    alert("Cadastro realizado com sucesso! Um e-mail de verificação foi enviado para " + email + " Retorne ao Sjurados para logar, caso tenha acontecido algum erro, entrar em contato com o suporte através do email: batalhadoss94@gmail.com .");
                    window.location.replace("/");
                } catch (error) {
                    // Tratamento de erros personalizados
                    switch (error.code) {
                        case 'auth/email-already-in-use':
                            alert("Este e-mail já está em uso. Tente outro.");
                            break;
                        case 'auth/invalid-email':
                            alert("E-mail inválido. Verifique o formato.");
                            break;
                        case 'auth/weak-password':
                            alert("A senha deve ter pelo menos 6 caracteres.");
                            break;
                        default:
                            alert("Erro ao realizar o cadastro: " + error.message);
                    }
                }
            }
        };

        document.getElementById('registerBtn').addEventListener("click", handleSaveData);
    </script>



</body>

</html>