<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="../static/logo.png" type="image/x-icon">
</head>
<body>
    <h1>Algo deu Errado</h1>
    <p>Volte a pagina inicial e tente realizar o pagamento novamente para cadastrar.</p>
    <a href="/">Voltar</a>
</body>
</html>